{%load static%}
<div id='card-search'>{%csrf_token%}
    <div id='search'>
        <input type='search' name='search' id='id-search' placeholder='Pesquisar categoria...'>
        <img src='{%static "images/icons/transparency.png"%}'>
    </div>
    <div id='box-results'></div>
    <script>
        $('#id-search').keyup(function(){
            if($(this).val()==''){
                $('.result div').css('transition', '0s');
                $('#box-results').css('visibility', 'hidden');
            }else{
                $.ajax({
                    type:'POST',
                    url:'{%url urlQuery%}',
                    data:{
                        'query':$('#id-search').val(),
                        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function(data, textStatus, jqXHR){
                        $('#box-results').html(data)
                    },
                    dataType:'html'    
                })
            }
            $('.result div').css('transition', '2s');
            $('#box-results').css('visibility', 'visible');
        })
    </script>
    <link rel='stylesheet' href='{%static "css/cardSearch.css"%}'>
</div>