{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}PyStore{%endblock%}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&amp;display=swap" rel="stylesheet">
    <link rel='stylesheet' href='{%static "css/styleBase.css"%}'>
    <link rel='stylesheet' href='{%static "css/styleNavbar.css"%}'>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&amp;display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        $('document').ready(function(){
            $('.category-products-title1').click(function(){
                category = $(this).attr('name');
                $.ajax({
                    type:'POST',
                    url:'{%url "viewProducts"%}',
                    data:{
                        'category':category,
                        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function(data, textStatus, jqXHR){
                        $('#contents').html(data);
                    },
                    dataType:'html',
                });
            })
        });
    </script>
    {%block statics%}{%endblock%}
</head>
<body>
    {%block navbar%}
        <div>
            {%csrf_token%}
            {%include "pieces/navbar.html"%}
        </div>
    {%endblock%}
    <div id='contents'>
        {%block contents%}{%endblock%}
    </div>
</body>
</html>