{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}PyStore{%endblock%}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&amp;display=swap" rel="stylesheet">
    <link rel='stylesheet' href='{%static "css/styleBase.css"%}'>
    <link rel='stylesheet' href='{%static "css/styleNavbar.css"%}'>
    {%block statics%}
        <link rel='stylesheet' href='{%static "css/styleIndex.css"%}'>
    {%endblock%}
</head>
<body>
    {%include "pieces/navbar.html"%}
    <section>
        {%block contents%}
            <div id='banner'>
                <video loop autoplay playsinline muted>
                    <source src='{%static "video/iphoneX.mp4"%}'  type='video/mp4'>
                </video>
                <div id='buy-button'>
                    <button>
                        <span>COMPRAR AGORA</span>
                    </button>
                </div>
            </div>
        {%endblock%}
    </section>
</body>
</html>