{%extends "base.html"%}

{%block title%}product.name{%endblock%}

{%block static%}

{%endblock%}

{%block contents%}
    <div>
        <div id='slider'>

        </div>
        <div id='contents'>
            <div>
                <label id='product-name'></label>
            </div>
            <div>
                <label id='product-category'></label>
            </div>
            <div>
                <label id='product-brand'></label>
            </div>
        </div>
    </div>
{%endblock%}