{%extends 'panel.html'%}

{%load static%}

{%block title%}Categoria | pyStore{%endblock%}

{%block static%}
    <link rel='stylesheet' href='{%static "css/styleForms.css"%}'>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    {%endblock%}


{%block variable-title%}Nova Categoria{%endblock%}

{%block variable-contents%}
    <div class='card-category'>
        <form method='POST' action=''>{%csrf_token%}
            <div>
                <label for='id-name' id='id-label'>Categoria</label>
                <input type='text' name='name' id='id-name' required=''>
            </div>
            <button type='submit'>Cadastrar</button>
        </form>
        {%include "pieces/search.html"%}
    </div>
{%endblock%}