{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pyStore | Login Painel</title>
    <link rel='stylesheet' href='{%static "css/styleLogin.css"%}'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">  
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
</head>
<body>
    <div id=content>
        <div id='card-login'>
            <div id='card-title'>
                <span>Login</span>
            </div>
            <div id='card-content'>
                <form method='POST' action=''>{%csrf_token%}
                    <span>Usuário</span>
                    <div>
                        <input type='text' name='username' placeholder='digite seu usuário'>
                    </div>
                    <span>Senha</span>
                    <div>
                        <input type='password' name='password' placeholder='digite sua senha'>
                    </div>
                    <button type='submit'>Entrar</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>