{%extends 'panel.html'%}
{%load static%}

{%block title%} 
    {%for prd in products%}
        {{prd.name}} | pyStore
    {%endfor%}
{%endblock%}

{%block static%}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='{%static "css/styleProducts.css"%}'>
    <script src='{%static "js/showImage.js"%}'></script>
    <script src='{%static "js/radio.js"%}'></script>
    <script>
        $(document).ready(function(){
            $('#id_search').keyup(function(){
                if($(this).val() == ''){
                    $('.product-column-3 img').css('transition', '0s');
                    $('#box-results').css('visibility', 'hidden');
                }else{
                    $.ajax({
                        type:'POST',
                        url:'{%url "search"%}',
                        data:{
                            'search_text':$('#id_search').val(),
                            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
                        },
                        success:function(data, textStatus, jqXHR){
                                    $('#box-results').html(data)
                        },
                        dataType:'html'
                    })
                    $('.product-column-3 img').css('transition', '5s');
                    $('#box-results').css('visibility', 'visible');
                }
            });
        });
    </script>
{%endblock%}

{%block variable-title%}
    {%for prd in products%}
        {{prd.name}}
    {%endfor%}
{%endblock%}

{%block variable-contents%}
    {%for prd in products%} 
        <div id='form-product'>
            <form method='POST' action='{%url "updateProduct" prd.id%}' enctype='multipart/form-data'>{%csrf_token%}
                <div id='forms'>
                    <div id='view-slide'>
                        <div id='slide'>
                            <input id='radio1' type='radio' name='radio-btn' onclick='checkedRadio("1")'>
                            <input id='radio2' type='radio' name='radio-btn' onclick='checkedRadio("2")'>
                            <input id='radio3' type='radio' name='radio-btn' onclick='checkedRadio("3")'>
                            <div class='slide-photo first'>
                                {%if prd.primary_image.url != None%}
                                    <img id='preview-primary' class='preview-photo' src='{{prd.primary_image.url}}' type='file' accept='image/*'>
                                {%else%}
                                    <img id='preview-primary' class='preview-photo' type='file' accept='image/*'>
                                {%endif%}
                                    <label for='id_primary_image'>
                                    <img src='{%static "images/icons/galeria.png"%}' class='select-image'>
                                </label>
                                <input id='id_primary_image' type='file' name='primary_image' accept='image/*' onchange='previewImage("primary")'>
                            </div>
                            <div class='slide-photo'>
                                {%if prd.second_image.url != None%}
                                    <img id='preview-second' class='preview-photo' src='{{prd.second_image.url}}' type='file' accept='image/*'>
                                {%else%}
                                    <img id='preview-second' class='preview-photo' type='file' accept='image/*'>
                                {%endif%}
                                <label for='id_second_image'>
                                    <img src='{%static "images/icons/galeria.png"%}' class='select-image'>
                                </label>
                                <input id='id_second_image' type='file' name='second_image' accept='image/*' onchange='previewImage("second")'>
                            </div>
                            <div class='slide-photo'>
                                {%if prd.third_image.url != None%}
                                    <img id='preview-third' class='preview-photo' src='{{prd.third_image.url}}' type='file' accept='image/*'>
                                {%else%}
                                    <img id='preview-third' class='preview-photo' type='file' accept='image/*'>
                                {%endif%}
                                <label for='id_third_image'>
                                    <img src='{%static "images/icons/galeria.png"%}' class='select-image'>
                                </label>
                                <input id='id_third_image' type='file' name='third_image' accept='image/*' onchange='previewImage("third")'>
                            </div>
                        </div>
                        <div class='navigation'>
                            <label id='btn1' class='manual-btn' for='radio1'></label>
                            <label id='btn2' class='manual-btn' for='radio2'></label>
                            <label id='btn3' class='manual-btn' for='radio3'></label>
                        </div>
                    </div>
                    <div id='view-input'>
                        <div>
                            <label for='id_name'>Nome</label>
                            <input type='text' id='id_name' name='name' class='change-input' required='' value='{{prd.name}}'>
                        </div>
                        <div>
                            <label for='id_description'>Descrição</label>
                            <textarea type='text' id='id_description' name='description' class='change-input' rows='4' cols='50'>{{prd.description}}</textarea>
                        </div>
                        <div>
                            <label for='id_category'>Categoria</label>
                            {{form.category}}
                        </div>
                        <div>
                            <label for='id_brand'>Fabricante</label>
                            {{form.brand}}
                            
                        </div>
                        <div>
                            <label for='id_price'>Preço</label>
                            <input type='number' min='0' id='id_price' name='price' class='change-input' required='' value='{{prd.price}}'>
                        </div>
                        <div>
                            <label for='id_amount'>Quantidade</label>
                            <input type='number' id='id_amount' name='amount' class='change-input' required='' value='{{prd.amount}}'>
                        </div>
                    </div>
                </div>
                <a id='back-screen' href='/painel/products/'><img id='back-image' src='{%static "images/icons/back.png"%}' class='photo-link'></a>
                <a id='delete' href='/painel/products/{{prd.id}}/delete'><img id='delete-image' src='{%static "images/icons/trash.png"%}' class='photo-link'></a>
                <button type='submit'>Alterar</button>
            </form>
            <div id='card-search'>
                <div id='search-products'>
                    {%csrf_token%}
                    <input type='search' name='search' id='id_search' value='' placeholder='Nome do produto'>
                    <i><img src='{%static "images/icons/transparency.png"%}'></i>
                </div>
                <div id='box-results'>
                </div>
            </div>
        </div>
        <script>
            $('#id_category').val('{{category.id}}').change();
            $('#id_brand').val('{{brand.id}}').change();
        </script>
    {%endfor%}
{%endblock%}
