*, body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    height:100%;
}

body{
    display:flex;
    height:100%;
    width:100%;
}


.image-exit{
    width:30px;
    height:30px;
    position:relative;
    top:1%;
    left:2%;
    transform:translate(-2%, -1%);
}


#navbar{
    width:18%;
    background-color:#333;
    color:#fff;
    height:100%;
}

#navbar-title{
    position:relative;
    width:70%;
    height:16%;
    top:5%;
    left:50%;
    transform:translate(-50%, -5%);
}

#hello{
    width:100%;
    height:60%;
    text-align:center;
}

#hello p{
    display:inline;
    word-spacing:1.5px;
    font-family:'Patua One', cursive;
    font-size:8vh;
}

#name-user{
    width:100%;
    height:25%;
    justify-content:center;
    text-align:center;
}

#name-user p{
    font-family:'Source Sans Pro', sans-serif;
    font-size:2.3vh;
    font-weight:bold;
    letter-spacing:0.4vh;
    color:#FF5733;
}

#navbar-contents{
    position:relative;
    width:70%;
    height:-webkit-max-content;
    height:-moz-max-content;
    top:15%;
    left:50%;
    transform:translate(-50%, -15%);
}

#navbar-contents ul{
    list-style-type:none;
}

#navbar-contents li{
    width:-moz-max-content;
    width:-webkit-max-content;
    height:-moz-max-content;
    height:-webkit-max-content;
    margin-top:15%;
    align-items:center;
    position:relative;
    left:50%;
    top:0;
    transform:translate(-50%, 0);
}

#navbar-contents a{
    font-family:'Archivo Black', sans-serif;
    font-size:1.2vw;
    color:#fff;
}

#navbar-contents a:link{
    text-decoration:none;
}

#navbar-contents a:visit{
    text-decoration:none;
}

#navbar-contents a:hover{
    color:#FF5733;
}

#variable-contents{
    background-color: #fff;
    width:100%;
}

#page-title{
    width:100%;
    height:-moz-max-content;
    height:-webkit-max-content;
    text-align:center;
    margin-top:1%;
}

#page-title{
    font-family:'Archivo Black', sans-serif;
    font-size:32px;
    color:#FF5733;
}

#page-contents{
    margin-top:1%;
    position:relative;
    height:80%;
}