#form-product{
    position:relative;
    top:15%;
    left:20%;
    transform:translate(-20%, -15%);
    width:80%;
    height:100%;
}

form{
    width:100%;
    height:-moz-max-content;
    height:-webkit-max-content;
}

#forms{
    display:flex;
    width:100%
}

#view-slide{
    margin-top:1%;
    width:34.791666666666664vw;
    height:24.375vw;
    position:relative;
    /*top:0;
    left:50%;
    transform:translate(-50%, 0);*/
    overflow:hidden;
    background-color:#ebedee;
    border-radius:5%;
}

#slide{
    width:500%;
    height:100%;
    display:flex;
}

.slide-photo{
    width:34.791666666666664vw;
    height:100%;
}

.slide-photo label{
    cursor:pointer;
}

.select-image{
    width:2.6041666666666665vw;
    height:2.6041666666666665vw;
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    opacity:40%;
}

.select-image:hover{opacity:90%;}

.preview-photo{
    border-radius:5%;
    position:absolute;
    width:100%;
    height:100%;
    border:none;

}

#slide input{
    display:none;
}

.navigation{
    position:absolute;
    justify-content:center;
    margin-top:-2.6041666666666665vw;
    display:flex;
    width:100%;
}

.manual-btn{
    border:2px solid #FF5733;
    padding:0.2604166666666667vw;
    border-radius:0.15625vw;
    cursor:pointer;
    transition:1s;
}

.manual-btn:not(:last-child){
    margin-right:1.5625vw;
}

.manual-btn:hover{
    background-color: #FF5733;
}

#radio1:checked ~ .first{
    margin-left:0%;
}

#radio2:checked ~ .first{
    margin-left:-20.5%;
}

#radio3:checked ~ .first{
    margin-left:-41.05%;
}


#view-input{
    margin-top:1%;
    position:relative;
    width:34.791666666666664vw;
    top:0;
    left:10%;
    transform:translate(-10%, 0);
}

#view-input div{
   width:100%;
   margin-top:2%;
   margin-left:1%;
}

#view-input label{
    font-family:'Source Sans Pro', sans-serif;
    font-size:20px;
    font-weight:bold;
    color:#333;
    letter-spacing:0.2604166666666667vw;
    width:11.979166666666666vw;
    display:inline-block;
    text-align:right;
    
    
}

#view-input input, textarea, select{
    background-color:#ebedee;
    padding:8px;
    border:none;
    color:#FF5733;
    border-bottom:1px solid #333;
    font-family:Arial;
    vertical-align:middle;
    outline:none;
}

.change-input{
    width:16.979166666666668vw;
}

button{
    position:relative;
    width:9.114583333333334vw;
    height:2.1875vw;
    top:0;
    left:98%;
    transform:translate(-98%, 0);
    background-color:#333;
    color:#fff;
    font-family:'Merriweather Sans', sans-serif;
    font-weight: bold;
    border:none;
    border-radius:8%;
    outline:none;
    transition:1s;
    cursor:pointer;
}

button:hover{
    animation-name:color-animation;
    animation-duration:5s;
}

@keyframes color-animation{
    0%{
        background-color:#ebedee;
        color:#FF5733;
    }
    100%{
        background-color:#333;
        color:#fff;
    }

}

#card-search{
    margin-top:25px;
    width:100%;
}

#search-products{
    height:-webkit-max-cotent;
    height:-moz-max-content;
    width:-webkit-max-cotent;
    width:-moz-max-content;
    position:relative;
    top:0;
    left:5%;
    transform:translate(-5%, 0);
}

#card-search input{
    background-color:#ebedee;
    padding:8px;
    border:none;
    outline:none;
    border-bottom: 1px solid #333;
    width:21.961932650073205vw;
    color:#FF5733;
}

#search-products img{
    width:30px;
    height:100%;
    position:absolute;
    margin-top:0px;
    margin-left:-30px;
    background-color:#ced3df;
    border:none;
    border-bottom: 1px solid #333;
    cursor:pointer;
}

#box-results{
    width:21.961932650073205vw;
    height:150px;
    position:relative;
    top:0;
    left:5%;
    transform:translate(-5%, 0);
    overflow: scroll;
    background-color:#ebedee;
    transition:2s;
    visibility:hidden;
}

.column{
    margin-top:10px;
}

.result-product{
    background-color:#ebedee;
    display:flex;
    width:95%;
    height:80px;
    margin-top:5px;
    margin-left:10px;
    margin-bottom:0px;
    border-radius:10%;
}

.product-column-1{
    margin-left:5px;
}

.product-column-2 #product-title{
    font-size:18px;
    font-family:'Archivo Black', sans-serif;
    color:#333;
}

.product-column-2 #product-price{
    font-size:14px;
    font-family:'Source Sans Pro', sans-serif;
    color:#FF5733;
}

.product-column-2{
    margin-left:10px;
    width:12.079062957540264vw;
}

.product-column-1 img{
    width:60px;
    height:60px;
    border-radius:15%;
}

.product-column-3 img{
    width:20px;
    height:20px;
    display:block;
    margin-bottom:15px;
    cursor:pointer;
    transition:5s;
}

.product-column-3 img:hover{
    
    background-color:#fff;
}

.result-product a{
    text-decoration:none;
}